.Modal
  .notification
    通知
  .contents
    .contents__user
      .UserImage
        = image_tag "default.jpg", class:"ContetsImage"
      .UserName
        たなか
    .contents__title
      これは
    .contents__day
      1990/03/01