.UserPage
  .UserPage__ProfileBox
    .IntroductionSide
      .UserImage
      .UserName
      .UserAge
      .UserArea
      .UserIntroduction
      .UserFollow
      .UserEvaluate
      .UserEdit
    .PostSide
      .PostImage
      .PostDay
      .postIntroduction