.terms
  .terms__box
    .Form
      .Form__top
        お問い合わせは以下からお願いします
      .Form__twitter
        = link_to "https://twitter.com/inoponA" do
          = icon('fab', 'twitter')
          Twitter
      .Form__mail
        メールアドレス：shengtaikunei@gmail.com