.EvaluateSide{
  position: fixed;
  @media(min-width: 1068px) {
    padding: 200px 300px;
  }
  padding: 200px 50px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display:none;
  &__EvaluateBox{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding:  20px ;
  }
  .close{
    position: relative;
    left: 97%;

  }
  .UserEvaluate{
    text-align: center;
    &__title{
    font-size: 20px;
    }
    &__UserSpeedy,&__frantically,&__UserKindness{
      margin-top: 10px;
    }
    &__SendBox{
      .send-btn{
        background-color:skyblue;
        border: 1px solid transparent;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        width: 50%;
      }
    }
  }
}

//フォームのcss

@mixin content {
  margin-right: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  
}

.form{
  justify-content: center;
  &__KindnessGood,&__KindnessUsually,&__KindnessBad,&__SpeedyGood,&__SpeedyUsually,&__SpeedyBad,&__franticallyGood,&__FranticallyUsually,&__FranticallyBad{
    @include content;
  }

}