@mixin list {
  margin-left: 15px;
  font-size: 15px;
  font-weight: bold;
  @media(min-width: 1068px) {
    font-size: 20px;
  }
}

.arrow_box{
  position:relative;
  @media(min-width: 1068px) {
    left: 68.2%;
  }
  left: 48.8%;
  width:220px;
  height:120px;
  background:#F7DD33;
  padding:20px;
  text-align:center;
  border:2px solid #1e90ff;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}
.arrow_box:after,.arrow_box:before{
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  bottom:100%;
  left:50%;
}
.arrow_box:after{
  border-color: rgba(247, 221, 51, 0);
  border-top-width:20px;
  border-bottom-width:20px;
  border-left-width:10px;
  border-right-width:10px;
  margin-left: -10px;
  border-bottom-color:#F7DD33;
}
.arrow_box:before{
  border-color: rgba(30, 144, 255, 0);
  border-top-width:24px;
  border-bottom-width:24px;
  border-left-width:12px;
  border-right-width:12px;
  margin-left: -12px;
  margin-bottom: 2px;
  border-bottom-color:#1e90ff;
}

@mixin btn {
  text-decoration: none;
  color:black;
}

.header{
  display: flex;
  align-items: flex-end;
  margin: 20px 0px 20px 20px;
  &__logs{
    font-family: 'Wawati SC',sans-serif;
    width: 100%;
    .explanation{
      font-size: 15px;
    }
    .title{
      font-size: 35px;
      .link_title{
        @include btn;
      }
    }
  }
  &__contents{
    width: 80%;
    display: flex;
    @media(min-width: 1068px) {
      width: 55%;
    }
    .menu{
      height: 10%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      border-bottom: 1px solid yellowgreen;
      &__LogIn{
        @include list;
        .LogIn-btn{
          @include btn;
        }
      }
      &__registration{
        @include list;
        .registration-btn{
          @include btn;
        }
      }
      &__GuestLogIn{
        @include list;
        margin-right: 20px;
        .GuestLogIn-btn{
          @include btn;
        }
      }
    }
  }
}