.wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  &__index{
    
    background-color: white;
    text-align: center;
    width: 70%;
    margin: 50px 150px 25px;
    padding: 20px;
    @media(min-width: 1068px) {
      margin: 50px 450px 0;
    }
    .contents{
      &__image{
        margin-top: 20px;
        .Image{
          width: 400px;
          height: 300px;
          @media(min-width: 1068px) {
            width: 400px;
            height: 300px;
          }
        }
      }

      &__title{
        font-size: 35px;
        font-weight: bold;
      }
      &__tags{
        display: flex;
        margin-bottom: 12px;
        .tag{
          margin-left: 15px;
          padding: 5px 15px;
          border: 1px solid red;
          border-radius: 20px;
        }
      }
      &__matter{
        &__recruitment{
          text-align: start;
          font-size: 12px;
          color:lightgray;
        }
        &__user{
          display: flex;
          margin: 20px 0 100px;
          padding-bottom: 20px;
          border-bottom: 1px solid lightgray;
          .UserImage{

          }
          .UserName{
            margin-left: 20px;
            
          }
        }
      }
    }
  }
}