@mixin form {
  width: 100%;
  height: 45px;
  margin-top: 10px;
}
.error__message{
  font-size: 14px;
  color:red;
  margin-top: 10px;
}
.LogIn{
  text-align: center;
  background-color: white;
  margin: 30px 160px 0;
  @media(min-width: 1068px) {
    margin: 50px 400px 0;
  }
  &__page{
    border:1px solid red;
    border-radius: 20px;
    margin: 20px;
    padding: 30px 0;
    &__title{
      font-size: 25px;
    }
    &__border{
      margin: 0 20px;
      width: 90%;
      height: 15px;
      border: 0;
      background: repeating-linear-gradient(-45deg,
     #e60033 , #e60033 15px,
     #fff 15px, #fff 30px, #f08300 30px, #f08300 45px,
     #fff 45px, #fff 60px, #ffd900 60px, #ffd900 75px,
     #fff 75px, #fff 90px, #3eb370 90px, #3eb370 105px,
     #fff 105px, #fff 120px, #bce2e8 120px, #bce2e8 135px,
     #fff 135px, #fff 150px, #0095d9 150px, #0095d9 165px,
     #fff 165px, #fff 180px, #884898 180px, #884898 195px,
     #fff 195px, #fff 210px);
    }
    .Form{
      margin: 20px 0;
      text-align: start;
      padding:0 30px;
      &__imageBox{
        .preview{
          margin: 10px 0 15px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-radius: 1em;
          border:1px dashed lightslategray;
          background-color:rgb(245, 245, 245);
          cursor:pointer;
          height: 200px;
  
        }
        .FormField-image{
          display: none;
      }
      }
      &__name{
        &__title{
        }
        &__InputForm{
          width: 100%;
          margin-bottom: 15px;
          .FormField__name{
            @include form;
          }
        }
      }
      &__ExplanationBox{
        .ExplanationForm{
          .FormField-Explanation{
            width: 100%;
          }
        }
      }
      &__age{
        &__title{
        }
        &__InputForm{
          width: 100%;
          margin-bottom: 15px;
          .FormField__age{
            @include form;
          }
        }
      }
      &__address{
        &__InputForm{
          .FormField-adress{
            @include form;
          }
        }
      }
      &__email{
        &__title{

        }
        &__InputForm{
          width: 100%;
          margin-bottom: 15px;
          .FormField__email{
            @include form;
          }
        }
      }
      &__passwerd{
        &__title{
        }
        &__InputForm{
          width: 100%;
          margin-bottom: 15px;
          .FormField__passwerd{
            @include form;
          }
        }
      }
      &__ReEnter{
        &__title{
        }
        &__InputForm{
          width: 100%;
          margin-bottom: 15px;
          .FormField__ReEnter{
            @include form;
          }
        }
      }
      .actions{
        .SubmitBtn{
          margin-top: 15px;
          width: 100%;
          background-color: skyblue;
          border: 1px solid transparent;
          color:white;
        }
      }
    }
  }
}