@mixin btn {
  width: 100%;
  text-decoration: none;
  background-color:skyblue;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: 1px solid transparent;
}

.UserPage{
  &__title{
    text-align: center;
    margin-top:15px;
    font-size: 40px; 
  }
  &__ProfileBox{
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    padding:10px;
    margin: 10px 70px ;
    @media(min-width: 1068px) {
      margin: 20px 300px ;
    }
    
    .IntroductionSide{
      text-align: center;
      .UserImage{
        text-align: center;
        .user-image{
          width: 200px;
          border-radius: 50%;
        }
      }
      .UserName,.UserAge{
        
        border-bottom: 1px solid black;
        margin: 10px 120px;
      }
      .UserIntroduction{
      
        border-bottom: 1px solid black;
        margin: 10px 120px;
        &__content{
          white-space: pre-wrap;
        }
        
      }
      .userAddress{
        margin-top: 15px;
        
        .fa-map-marker-alt{
          color:red;
          margin-right:5px;
        }
      }
      .UserEvaluate{
        .EvaluateBtn{
          @include btn;
        }
      }
      .UserStatus{
        text-align: center;
        margin: 5px 0;
        &__text{
          font-weight: bold;
          margin-bottom: 5px;
        }
        &__Kindness,&__speedy,&__frantically,&__comprehensive{
          text-align: center;
          .fa-smile{
            margin-right: 5px;
            color:#FF3399;
          }
          .fa-shipping-fast{
            margin-right: 5px;
            color: aqua;
          }
          .fa-redo{
            margin-right: 5px;
          }
          .fa-star{
            margin-right: 5px;
            color:#FFFF00;
          }
        }
      }
      .UserEdit{
        margin-top: 10px;
        .EditBtn{
          @include btn;
        }
      }
      .UserChat{
        margin: 10px 0;
      }
      .ChatBtn{
        @include btn;
      }
      .Chat-Btn{
        @include btn;
      }
    }
    .PostSide{
      margin-right: 20px;
      margin-left: auto;
      .PostImage{
        .post-image{
          width: 100px;
          height: 50px;
          &__introduction{
            text-decoration: none;
          }
        }
      }
    }
    .PostDay{
      text-align: end;
      font-size: 12px;
      color:lightgray;
      margin-bottom: 15px;
    }
  }
}